body {
    margin: 0;
    padding: 0;
    font-family: 'Teko', sans-serif;
}

.span-stye {
    color: goldenrod;
}

.first-section {
    display: flex;
    margin-bottom: 100px;

}

.left-site {
    width: 50%;
    margin-top: 50px;
    margin-left: 100px;
    padding: 30px;
}

.left-site h3 {
    font-size: 30px;
}

.right-site {
    width: 50%;
}

.left-site p {
    margin-bottom: 30px;
    font-size: 20px;
}

.right-site img {
    width: 70%;
}

.botton-style {
    text-decoration: none;
    background-color: rgb(226, 131, 7);
    padding: 10px 30px;
    color: #fff;
    border-radius: 20px;

}

.botton-style:hover {
    background-color: rgb(228, 105, 5);
}

.second-section {
    display: flex;
    /* margin-left: 100px; */
}

.second-section {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

#femal-images {
    width: 20%;
    margin-left: 170px;
    margin-top: 100px;
}

.recipies-heading {
    text-align: center;

}

.recipies {
    display: flex;
    padding: 10px 200px;

}

.recipies-item {
    width: 50%;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 3px 3px 6px 5px darkgrey;
    border-radius: 10px;
    padding: 10px;
}

.item-heading {
    padding-left: 10px;
}

.prea-style {
    padding: 10px;
}

.recipies-item img {
    width: 100%;

}

.four-section {
    display: flex;
    text-align: center;
    justify-content: center;
    box-shadow: 3px 3px 6px 5px darkgrey;
    border-radius: 10px;
    margin: 50px 200px;
    padding: 10px;
}

.four-section p {
    padding: 0 40px;
}

.footer {
    text-align: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
    padding: 30px;

}

.span-color {
    color: goldenrod;
}